.Remaining_Container {
    width: 90%;
    height: 90%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.remaining_input_sec {
    width: 90%;
    height: 8%;
    border-radius: 15px;
    padding: 1% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F0EEF0DB;
}

.remaining_input_sec input {
    width: 90%;
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
}

.remaining_input_sec input::placeholder {
    font-size: 14px;
    color: #BAB9B9;
    font-family: 'iran-sans';
}

.remaining_input_sec img {
    cursor: pointer;
}

.remaining_sec {
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remaiming_main_sec {
    width: 100%;
    border: 2px solid #BBB8B8;
    border-right: 11px solid #6F4975;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.remaiming_main_sec_div1 {
    width: 80%;
    color: #3c3b3c98;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.remaiming_main_sec_div2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.remaning_sec_forwithdrawal {
    width: 100%;
    /* border: 2px solid #BBB8B8;
    border-right: 11px solid #6F4975;
    border-radius: 15px; */
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.remaning_sec_forwithdrawal p {
    font-weight: bold;
}

.remaning_sec_forwithdrawal input {
    width: 35%;
    height: 3rem;
    font-size: 18px;
    border: 2px solid #BBB8B8;
    border-radius: 5px;
    margin: 0 2%;
    padding: 0 2%;
    outline: none;
}

.remaning_sec_forwithdrawal button {
    width: 20%;
    height: 3.5rem;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'iran-sans';
    background-color: #261E35;
    color: var(--white);
    border: none;
    outline: none;
    cursor: pointer;
}