.SocialCumments_Container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.background_div {
    width: 80%;
    height: 80%;
    background-image: url('../../Images/cummentsback.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.icons_sec {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img1 {
    margin: 10% 0 0 0;
}

.img2 {
    margin: 20% 0 0 0;
    
}

.img3 {
    margin: 70% 0 0 0;
    
}

.img4 {
    margin: 50% 0 0 0;
    
}

.img5 {
    margin: 100% 0 0 0;
}

.cumment_sec {
    width: 30%;
    height: 90%;
}

@media (max-width: 720px) {

    .SocialCumments_Container {
        height: 140vh;
    }

    .background_div {
        width: 100%;
        height: 100%;
        background-image: url('../../Images/cummentsback.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icons_sec {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .img1 {
        margin: 5% 0 0 0;
    }
    
    .img2 {
        margin: 10% 0 0 0;
        
    }
    
    .img3 {
        margin: 20% 0 0 0;
        
    }
    
    .img4 {
        margin: 0% 0 0 0;
        
    }
    
    .img5 {
        margin: 0% 0 0 0;
    }

    .cumment_sec {
        width: 50%;
        height: 50%;
    }

}

@media (max-width: 420px) {

    .SocialCumments_Container {
        height: 140vh;
    }

    .background_div {
        width: 100%;
        height: 100%;
        background-image: url('../../Images/cummentsback.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icons_sec {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .img1 {
        margin: 15% 0 0 0;
    }
    
    .img2 {
        margin: 40% 0 0 0;
        
    }
    
    .img3 {
        margin: 50% 0 0 0;
        
    }
    
    .img4 {
        margin: 15% 0 0 0;
        
    }
    
    .img5 {
        margin: 5% 0 0 0;
    }

    .cumment_sec {
        width: 100%;
        height: 50%;
    }

}