.Cards_Container {
    height: 100vh;
    background-color: var(--white);
}

.cardnum1 {
    width: 100%;
    height: 100%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cardexample_div {
    display: none;
}


@media (max-width: 720px) {

    .Cards_Container {
        height: 80vh;
        background-color: var(--white);
    }
    
    .cardnum1 {
        display: none;
    }
    
    .cardexample_div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cardDeActive {
        display: none;
    }

    .cardnum2 {
        display: block;
        cursor: pointer;
        width: 50%;
        width: 50%;
    }

    .cardnum3 {
        display: block;
        cursor: pointer;
        width: 50%;
        width: 50%;
    }

}

@media (max-width: 420px) {
    
    .Cards_Container {
        height: 70vh;
        background-color: var(--white);
    }

    .cardnum2 {
        display: block;
        cursor: pointer;
        width: 80%;
        width: 80%;
    }

    .cardnum3 {
        display: block;
        cursor: pointer;
        width: 80%;
        width: 80%;
    }

}