nav {
    width: 100%;
    border-bottom: 1px solid var(--text_black);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn_nav {
    font-size: 16px;
    text-shadow: -5px 5px 10px var(--background_black_darker);
    color: var(--text_black);
    align-items: center;
    font-family: 'iran-sans';
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    background-color: transparent;
    justify-content: center;
    outline: 0;
    padding: 0.5% 0;
    border: none;
    margin: 2% 0;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all .2s ease-in;
}

.btn_nav:hover {
    transition: all 150ms ease-in;
    color: var(--logo_red);
}

.btn_account {
    font-size: 16px;
    color: var(--text_black_darker);
    padding: 1% 2%;
    border-radius: 15px;
    align-items: center;
    font-family: 'iran-sans';
    cursor: pointer;
    border: 2px solid var(--text_black);
    outline: none;
    background: transparent;
    position: relative;
    display: inline-flex;
    justify-content: center;

}

.btn_account img {
    width: 20px;
    padding: 0 0 0 10px;
}
   
/* Ham menu Styles */
.HanMenu {
    display: none;
}

.ham_options {
    width: 50%;
    height: 100vh;
    left: 0%;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: var(--logo_red);
    transition: all 500ms ease-in;
}

.ham_options_off {
    width: 50%;
    height: 100vh;
    position: fixed;
    background-color: var(--logo_red);
    left: -100%;
    top: 0;
    transition: all 500ms ease-in;
}

.ham_options_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
}

.ham_options_div img {
    width: 64px;
    margin: 5%;
    cursor: pointer;
}

.btn_nav_ham {
    font-size: 16px;
    text-shadow: -5px 5px 10px var(--background_black_darker);
    color: var(--background_white);
    align-items: center;
    font-family: 'iran-sans';
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    background-color: transparent;
    justify-content: center;
    outline: 0;
    padding: 0.5% 0;
    border: none;
    margin: 2% 0;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all .2s ease-in;
}

.btn_nav_ham:hover {
    transition: all 150ms ease-in;
    color: var(--text_black);
}

.btn_account_ham {
    font-size: 16px;
    text-shadow: -5px 5px 10px var(--background_black_darker);
    color: var(--background_white);
    padding: 1% 2%;
    border-radius: 15px;
    align-items: center;
    font-family: 'iran-sans';
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    position: relative;
    transition: all 0.5s ease-in;
}
   
.btn_account_ham:hover {
    transition: all 150ms ease-in;
}

@media (max-width: 950px) {

    .HanMenu {
        width: 7%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        scale: 0.9;
    }

    .HanMenu:hover {
        scale: 1;
        transition: all 200ms ease-in-out;
    }

    .ham_btn {
        width: 100%;
        height: 3px;
        margin-bottom: 10px;
        background-color: var(--logo_red);
    }

    .btn_nav {
        display: none;
    }

    .btn_account {
        display: none;
    }

}

@media (max-width: 750px) {

    nav {
        margin-top: 2%;
    }

    .HanMenu {
        width: 10%;
    }

    .ham_options {
        width: 60%;
    }

    .ham_options_div img {
        width: 48px;
    }

}

@media (max-width: 450px) {

    nav {
        width: 100%;
        border-bottom: 1px solid var(--text_black);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .HanMenu {
        width: 13%;
    }

    .ham_options {
        width: 70%;
    }

    .ham_options_div img {
        width: 42px;
    }
    
}