:root {
  --background_white: #c3aac7;
  --white: #ffffff;
  --text_black_darker: rgb(0, 0, 0);
  --logo_red: #261E35;
  --logo_red_lighter: #ff8ba3;
  --logo_red_much_lighter: #ffadbe;
}

@font-face {
	font-family: 'iran-sans';
	src:	url('./Fonts/IRANSans/IRANSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

body {
  scroll-behavior: smooth;
  direction: rtl;
  background-color: var(--background_white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: 'iran-sans';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}